<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-estudante-heading" data-cy="EstudanteCreateUpdateHeading">Criar ou editar estudante</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let nomeEstudanteRef = editForm.get('nomeEstudante')!;
        <div class="mb-3">
          <label class="form-label" for="field_nomeEstudante">Nome do estudante</label>
          <input
            type="text"
            class="form-control"
            name="nomeEstudante"
            id="field_nomeEstudante"
            data-cy="nomeEstudante"
            formControlName="nomeEstudante"
          />
          @if (nomeEstudanteRef.invalid && (nomeEstudanteRef.dirty || nomeEstudanteRef.touched)) {
            <div>
              @if (editForm.get('nomeEstudante')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        @let emailRef = editForm.get('email')!;
        <div class="mb-3">
          <label class="form-label" for="field_email">E-mail do estudante</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
          @if (emailRef.invalid && (emailRef.dirty || emailRef.touched)) {
            <div>
              @if (editForm.get('email')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        @let telefoneRef = editForm.get('telefone')!;
        <div class="mb-3">
          <label class="form-label" for="field_telefone">Telefone do estudante</label>
          <input type="text" class="form-control" name="telefone" id="field_telefone" data-cy="telefone" formControlName="telefone" />
          @if (telefoneRef.invalid && (telefoneRef.dirty || telefoneRef.touched)) {
            <div>
              @if (editForm.get('telefone')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
