<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-emprestimo-heading" data-cy="EmprestimoCreateUpdateHeading">Criar ou editar empréstimo</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let dataEmprestimoRef = editForm.get('dataEmprestimo')!;
        <div class="mb-3">
          <label class="form-label" for="field_dataEmprestimo">Data do empréstimo</label>
          <div class="d-flex">
            <input
              id="field_dataEmprestimo"
              data-cy="dataEmprestimo"
              type="datetime-local"
              class="form-control"
              name="dataEmprestimo"
              formControlName="dataEmprestimo"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          @if (dataEmprestimoRef.invalid && (dataEmprestimoRef.dirty || dataEmprestimoRef.touched)) {
            <div>
              @if (editForm.get('dataEmprestimo')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('dataEmprestimo')?.errors?.datetimelocal"
                >Este campo é do tipo data/hora.</small
              >
            </div>
          }
        </div>

        @let statusRef = editForm.get('status')!;
        <div class="mb-3">
          <label class="form-label" for="field_status">Status / Observações</label>
          <input type="text" class="form-control" name="status" id="field_status" data-cy="status" formControlName="status" />
          @if (statusRef.invalid && (statusRef.dirty || statusRef.touched)) {
            <div>
              @if (editForm.get('status')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        <div class="mb-3" *ngIf="editForm.controls.id.value === null">
          <label class="form-label" for="field_estudante">Estudante</label>
          <select
            class="form-control"
            id="field_estudante"
            data-cy="estudante"
            name="estudante"
            formControlName="estudante"
            [compareWith]="compareEstudante"
          >
            <option [ngValue]="null"></option>
            @for (estudanteOption of estudantesSharedCollection; track $index) {
              <option [ngValue]="estudanteOption">{{ estudanteOption.id }} - {{ estudanteOption.nomeEstudante }}</option>
            }
          </select>
        </div>

        <div class="mb-3" *ngIf="editForm.controls.id.value === null">
          <label class="form-label" for="field_livro">Livro</label>
          <select class="form-control" id="field_livro" data-cy="livro" name="livro" formControlName="livro" [compareWith]="compareLivro">
            <option [ngValue]="null"></option>
            @for (livroOption of livrosSharedCollection; track $index) {
              <option [ngValue]="livroOption">{{ livroOption.id }} - {{ livroOption.titulo }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
