<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-livro-heading" data-cy="LivroCreateUpdateHeading">Criar ou editar Livro</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let tituloRef = editForm.get('titulo')!;
        <div class="mb-3">
          <label class="form-label" for="field_titulo">Titulo</label>
          <input type="text" class="form-control" name="titulo" id="field_titulo" data-cy="titulo" formControlName="titulo" />
          @if (tituloRef.invalid && (tituloRef.dirty || tituloRef.touched)) {
            <div>
              @if (editForm.get('titulo')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
            </div>
          }
        </div>

        @let quantidadeRef = editForm.get('quantidade')!;
        <div class="mb-3">
          <label class="form-label" for="field_quantidade">Quantidade</label>
          <input
            type="number"
            class="form-control"
            name="quantidade"
            id="field_quantidade"
            data-cy="quantidade"
            formControlName="quantidade"
          />
          @if (quantidadeRef.invalid && (quantidadeRef.dirty || quantidadeRef.touched)) {
            <div>
              @if (editForm.get('quantidade')?.errors?.required) {
                <small class="form-text text-danger">O campo é obrigatório.</small>
              }
              <small class="form-text text-danger" [hidden]="!editForm.get('quantidade')?.errors?.number"
                >Este campo é do tipo numérico.</small
              >
            </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_autor">Autor</label>
          <select class="form-control" id="field_autor" data-cy="autor" name="autor" formControlName="autor" [compareWith]="compareAutor">
            <option [ngValue]="null"></option>
            @for (autorOption of autorsSharedCollection; track $index) {
              <option [ngValue]="autorOption">{{ autorOption.id }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Salvar</span>
        </button>
      </div>
    </form>
  </div>
</div>
