<div class="row">
  <div class="col-md-9">
    <h1 class="display-4"><span>Biblioteca de Babel</span></h1>
    <p class="lead">Bem-vindo à Biblioteca de Babel, a biblioteca infinita.</p>
    <div>
      @if (account() !== null) {
        <div class="alert alert-success">
          @if (account(); as accountRef) {
            <span id="home-logged-message">Você está logado como &quot;{{ accountRef.login }}&quot;.</span>
          }
        </div>
      } @else {
        <div class="alert alert-warning">
          <span>Bibliotecário responsável, caso deseje entrar </span>
          <a class="alert-link" (click)="login()">entrar</a
          ><span>, utilize a conta padrão: <br />- Administrador (usuário=&quot;admin&quot; and senha=&quot;admin&quot;)</span>
        </div>

        <div class="alert alert-warning">
          <span>Não possui uma conta ainda?</span>&nbsp;
          <a class="alert-link" routerLink="/account/register">Crie uma nova conta</a>
        </div>
      }
    </div>
  </div>
</div>
